<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>DANCE DANCE!</title>
</head>
<body>
<div class="background">
  <div class="banner">
    <div class="pic">
      <h1>DANCE DANCE!</h1>
    </div>
  </div>

  <iframe class="music "src="betty.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>

  <div class="dance">
    <img class="left" src="left.png">
    <img class="right" src="right.png">
    <img class="tail" src="tail.png">
    <img class="base" src="base.png">
  </div>
</div>

<script src="dom.js"></script>
</body>
</html>