<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>DANCE DANCE!</title>
</head>
<body>
  <div class="background">
    <div class="banner">
      <div class="pic">
        <h1>DANCE DANCE!</h1>
      </div>
    </div>

    <div class="content">
      <h1>RULES</h1>
      <p>1. Use the arrows on your keyboard to make your character dance to the music!</p>
      <p>2. Press SPACE to change music randomly!</p>
      <span>3. Have</span><a href="/dance">FUN!</a>
    </div>
  </div>
</body>
</html>